:root {
  /* Main */
  --dark: #000000;
  --white: #ffffff;
  --primary: #272930;
  /* Primary */
  --brand-primary-900: #2e56e4;
  --brand-primary-800: #4367e7;
  --brand-primary-700: #5878e9;
  --brand-primary-600: #6d89ec;
  --brand-primary-500: #829aef;
  --brand-primary-400: #97abf2;
  --brand-primary-300: #abbbf4;
  --brand-primary-200: #c0ccf7;
  --brand-primary-100: #d5ddfa;
  --brand-primary-000: #eaeefc;
  /* Paddings */
  --page-padding: 24px;
}
